<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <icon src="www/img/icon_72.png" width="72" height="72" />
    <icon src="www/img/icon_48.png" width="48" height="48" />
    <icon src="www/img/icon_36.png" width="36" height="36" />
    <content src="index.html" />
    <access origin="*" />
</widget>
